/* ====== MAIN ====== */

main {
  flex: auto;
  background-size: cover;
  background-position: center;
  display: block;
  color: #0c1c3c;
  font-family: Arial, sans-serif;
  font-size: 20px;
}
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/contacto.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0;
}

.mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 600px;
  height: 150px; 
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #b31217;
  font-family: Arial, sans-serif;
  font-size: 20px;
  animation-duration: 2s;
}



@media (max-width: 1000px) {
  .contacto {
    padding: 0 5%;
    justify-content: center;
  }
  
  .mensaje {
    width: 90%;
    max-width: none;
    animation: none;
  }
}