/* ====== MAIN ====== */
main {
  font-family: Arial, sans-serif;
  font-size: 20px;
  width: 100%;
  background-color: #0a3d62;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: auto;
}

.portada {
  background-image: url("/img/portada-index.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  width: 100%;
  height: 400px;
  display: flex;
  margin: 0;
  padding: 0;
}

.video-index {
  width: 100%;
  max-width: 560px;
  margin: auto;
  display: flex;

}

.bienvenida{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  color: #f0f3f6;
  height: auto;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-shadow: 2px 2px 2px #af2d2d;
  opacity: 0;
  animation: fadeIn 6s forwards;
}
/* Animación para el fadeIn */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.sinopsis {
  color: #e6dcdc;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
}

/* ====== ASIDE ====== */

h2 {
  color: #143f78;
  height: auto;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-shadow: 1px 1px 1px #af2d2d;
}

.curiosidades {
  width: 80%;
  display: flex;
  height: 130px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(223, 225, 235);
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;


}

.curiosidades-texto {
  text-align: center;
  color: #0c1c3c;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 930px) {
  .curiosidades {
    width: 80%;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .video-index {
    width: 80%;

    display: flex;
    padding: 10px;
  
  
  }

}

@media screen and (max-width: 350px) {


  .video-index {
    width: 100%;
  
    margin: auto;
    display: flex;

  }



  .curiosidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
   height: 400px;
    padding: 20px;
  }


  
}