/* ====== MAIN ====== */
main {
  background-color: #0a3d62;
  color: #0c1c3c;
  font-family: Arial, sans-serif;
  font-size: 20px;
  flex: auto;
}

.backstage {
  width: 100%;
  height: auto;
  display: block;
}

article {
  padding: 20px 30px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border-left: 5px solid #143f78;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
article:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-left: 5px solid #af2d2d;
}
h2 {
  color: #143f78;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-shadow: 2px 2px 2px #af2d2d;
}
h2::before {
  content: "🎬 ";
}
.spotify {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
 article{
  border-left: 0px;

 
 }

 article:hover{

  border-left: 0px none;
 }
}