* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ====== MAIN ====== */

main {
  background-image: url("../img/contacto.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  color: #0c1c3c;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.contacto {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/contacto.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.formulario {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin-right: 20%;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: #0a3d62;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #a00808;
}

/* ====== FOOTER ====== */
.footer {
  background-color: #0a3d62;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
