* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ====== HEADER Y NAVEGACIÓN ====== */
header {
  background-color: #0a3d62;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 1.5em;
  text-shadow: 2px 2px 3px #0d0606;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color:#b31217;
  text-decoration: none;
}

/* ====== MAIN ====== */
main {
  background-color: #f5f5f5;
  padding-top: 20px;
  color: #0c1c3c;
  font-family: Arial, sans-serif;
  font-size: 20px;
}
.titulo-seccion {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  color: #0b3d91;
  text-shadow: 1px 1px 1px #3c3737;
}
.reparto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: normal;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
.reparto-item{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  width: 300px;
  align-items: center;
}
 .reparto-img{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.reparto-nombre {
  color: #0b3d91;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-shadow: 1px 1px 1px #3c3737;
  width: 250px;

  
}

.reparto-descripcion {
  width: 300px;
  font-size: 0.9em;
  margin-bottom: 10px;
}
/* ====== FOOTER ====== */
.footer {
  background-color: #0a3d62;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
